.bold{
	font-weight:bold;
}
.inline-block{
	display:inline-block;
}

.large-padding{
	padding: 10px 15px;
}

.no-border{
	border:none;
}

.pull-right{
	float:right;
}

.mayuscula{
	text-transform:uppercase;
}

.relative{
	position:relative;
}

.slim{
	font-weight: 200;
}

.text-center{
	text-align:center;
}

.text-left{
	text-align:left;
}

.text-right{
	text-align:right;
}

.title{
	font-size: 40px;
}

.top-space{
	margin-top: 1em;
}

.small{
	font-size: 14px;
} 



