.absolute{
	position:absolute;
}
.bold{
	font-weight:bold;
}

.circle{
	border-radius: 50%;
}
.inline-block{
	display:inline-block;
}

.large-padding{
	padding: 10px 15px;
}

.no-border{
	border:none;
}

.no-padding{
	padding: 0;
}

.no-margin{
	margin: 0;
}

.pull-right{
	float:right;
}

.mayuscula{
	text-transform:uppercase;
}

.padding-50{
	padding-top: 50px;
	padding-bottom: 50px;
}

.relative{
	position:relative;
}

.slim{
	font-weight: 200;
}

.text-center{
	text-align:center;
}

.text-left{
	text-align:left;
}

.text-right{
	text-align:right;
}

.title{
	font-size: 40px;
}

.top-space{
	margin-top: 1em;
}

.small{
	font-size: 14px;
} 
.z-depth{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.6), 0 2px 10px 0 rgba(0,0,0,0.12);
}



