/*
	1.- Estilos Comunes
	2.- Colores
	3.- Estilo de la
*/

@import "common";
@import "colors";


.btn{
	@extend .bold;
	@extend .no-border;
	@extend .large-padding;
}
body, html{
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	font-weight:200;
	margin:0px;
}

header{
	.init{
		@extend .pull-right;
		@extend .relative;
		top: 2em;
	}

	.restand-time{
		span{
			@extend .inline-block;
			vertical-align: top;
			line-height: 1em;
			font-size: 99px;

			span{
				display: block;
				@extend .small;
				@extend .mayuscula;
				@extend .bold;
				@extend .text-right;
				padding-right:10px;
			}

		}

	}
}

.workshop-background{
	background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(48,66,105,1) 100%);
	padding-bottom:100px;
}