!!! 5
%html
	%head
		%title Taller - Creacion Landing Page con HTML5 Y CSS3
		%meta{:charset => "utf-8"}
		%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Open+Sans"}/
		%link{:rel => "stylesheet", :href => "./app.css"}

	%body
		.workshop-background
			.row.center-xs
				.col-xs-12.col-sm-8.col-md-6
					.box
						%header.white-text.text-center
							.inline-block
								%img{:src => "imgs/tl.png", :height => "60"}
								.init
									Iniciamos en 
								.restand-time 
									%span 
										01
										%span dias
									%span :
									%span 
										20
										%span horas
									%span :
									%span 
										30
										%span minutosn
							%h1.slim.title Crea un landig page desde cero con HTML5 y CSS3
							%a.btn.btn--yellow.black-text{:href => ""} Tomar taller

		.row.center-xs
			.col-xs-12.col-sm-8
				.box
					.card.z-depth.move-up.padding-50
						.container-80
							.row.separator
								.col-xs-12.col-sm-6
									.box.text-left
										%p.bold ¿Que voy a aprender?
										%ul.bullet-point
											%li Mejores prácticas Frontend
											%li Como pasar imagenes a web
											%li Consejos para maquetar
											%li Consejos para css mantenible
											%li Escribir codigo limpio
											%li Responsive para landing
								.col-xs-12.col-sm-6
									.box.text-right
										%p.bold ¿Como funcionan los talleres?
										%p
											Una vez que estés suscrito, deberas ingresar a tu
											Cuenta de CódigoFacilito a la hora indicada en esta
											página y pódras ver al profesor programar un proyecto
											completo en vivo durante dos horas y después una sesion de 
											Q&A de una hora. El Taller Live quedará gravado para los
											suscriptores premium.
						.video-player
							%iframe{id:"player", frameborder:"0", allowfullscreen:"1", title:"YouTube video player", width:"700", height:"400", src:"https://www.youtube.com/embed/FTQpVq4hd9g"}
										